<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <h1>Welcome</h1>
  <p>Are you ready to discover my secret?</p>

  <form method="post" action="{{ url_for('login') }}">
    <div>
      {{ form.email.label }} : {{ form.email(size=30) }}
      {% for error in form.email.errors %}
      <span>{{error}}</span>
      {% endfor %}
    </div>

    <div>
      {{ form.password.label }}: {{ form.password(size=30) }}
      {% for error in form.password.errors %}
      <span>{{error}}</span>
      {% endfor %}
    </div>

    <button>Login {{ form.login }}</button>
  </form>

</body>

</html>